body{
    font-family: "Montserrat", sans-serif;
    background-color: #e9ecef;
}

.hiden {
    display: none;
}

header{
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5vh;
    margin: 2vh 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8vh;
}

.notification_content {
    z-index: 200000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 155px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: white;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.notification_header {
    width: 100%;
    position: absolute;
    top: 0.9rem;
    color: black;
    font-size: 2.4vh;
    font-weight: 700;
}

.notification_message {
    width: 350px;
    margin-top: 4.5rem;
    color: black;
    font-size: 1.8vh;
    font-weight: 500;
}

.notification_close {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 4%;
    right: 2%;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close_icon {
    font-size: 1.5rem;
    transform: rotate(45deg);
    cursor: pointer;
}

.close_icon:hover {
    color: #FF7272;
    scale: 1.15;
}

.notification_actions {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
}

.action_button {
    width: 115px;
    padding: 0.5rem 0;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.12);
    border-radius: 0.8rem;
    outline: 1px rgba(0, 0, 0, 0.03) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    transition: background 0.25s;
}

.btn_no {
    background-color: rgba(255, 114, 114, 0.25);
    color: #FF7272;
}

.btn_no:hover {
    background-color: rgba(255, 114, 114, 0.35);
    scale: 1.03;
}

.btn_yes {
    background-color: rgba(70, 199, 63, 0.25);
    color: #46C73F;
}

.btn_yes:hover {
    background-color: rgba(70, 199, 63, 0.35);
    scale: 1.03;
}

.button_text {
    font-size: 1rem;
    font-weight: 700;
}

.alert{
    position: fixed;
    z-index: 100000;
    width: 100vw;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    padding: 2%;
    width: 30%;
	margin-bottom: 10vh;
}

.hello {
	text-align: center;
    color: black;
	font-weight: 600;
	font-size: 2vw;
	line-height: 2vh;
}

.enter {
	color: #424242;
	font-weight: 600;
	font-size: 1vw;
	text-align: center;
    margin-bottom: 2%;
}

.header__but__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5vh 3vh;
}

.btn_header{
    border: none;
    background: none;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.25s;
}

.btn_header:hover{
    color: #ec2f33;
}

.btn_active{
    font-size: 1.3rem!important;
    font-weight: 700!important;
}

.main__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4vh 0;
}

.schoolchildren__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4vh 0;
}

.teachers__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4vh 0;
}

.main__wrapper_classes_list {
    width: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3.5vh;
    margin: 4vh 5%;
}

.schoolchildren_list,
.teachers_list {
    width: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.personal_data_schoolchildren,
.personal_achievements_schoolchildren,
.personal_achievements_schoolchildren_suggested {
    font-size: 1.75rem;
    text-align: center;
    margin: 0.5% 0 1.5% 0;
    color: #000000;
    font-weight: bold;
}

.user_about {
    width: 97.5%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    background: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: 1.1rem;
}

.personal_achievements_schoolchildren_list,
.personal_achievements_schoolchildren_suggested_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 1.5rem;
    background: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.achievement_about {
    padding: 0.5%;
    width: 45%;
    border-radius: 0.8rem;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 1%;
}

.achievement_datetime_create {
    display: flex;
    justify-content: flex-end;
    font-size: 0.7vw;
    color: #424242;
    gap: 0.25%;
}

.achievement_description {
    font-size: 0.85vw;
    color: #424242;
    margin-top: 1%;
    text-align: justify;
    width: 100%;
}

.user_columns {
    display: flex;
    justify-content: space-between;
}

.user_column {
    flex: 1;
    box-sizing: border-box;
}

.user_login, .user_password, .user_fio, .user_birthday, .user_datetime_create, .user_role{
    margin-bottom: 0.5vh;
}

.guid {
    font-weight: bold;
    margin-bottom: 1rem;
}

.form-container {
    background: white;
    padding: 1%;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.form-container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin: 0 0 1.7% 0;
}

.input_label {
    display: block;
    margin-bottom: 0.2%;
    font-weight: bold;
    color: #424242;
}

.input_field {
    margin-bottom: 2.5%;
}

.input_field input.login,
.input_field select {
    width: 100%;
    padding: 2%;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color 0.3s;
    box-sizing: border-box;
    font-size: 0.85vw;
    font-family: "Montserrat", sans-serif;
}

.input_field input:focus,
.input_field select:focus {
    border-color: #46C73F;
    outline: none;
}

.button {
    padding: 2.5%;
    background-color: rgba(70, 199, 63, 0.25);
    font-weight: 600;
    color: #46C73F;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    transition: background 0.25s;
}

.button:hover {
    background-color: rgba(70, 199, 63, 0.35);
    scale: 1.03;
}

.classes {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    padding: 1% 0 0 0;
}

.classes_list{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5vh;
    width: 100%;
    flex-wrap: wrap;
}

.class_ {
    margin: 0.25% 0;
    background: #fff;
    border-radius: 0.8rem;
    padding: 1%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.class_:hover {
    background-color: rgba(70, 199, 63, 0.25);
}

.class_about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name_class {
    display: flex;
    flex-direction: row;
    gap: 2%;
    font-size: 1vw;
}

.name_class:hover {
    cursor: pointer;
    scale: 1.03;
}

.del_class {
    margin-left: 1.5vw;
    position: relative;
    font-size: 2rem;
    background-color: white;
    transform: rotate(45deg);
    cursor: pointer;
}

.del_class:hover {
    scale: 1.15;
    color: #ec2f33;
}

.class_:hover .del_class {
    background-color: rgba(70, 199, 63, 0.05);
}

#positions_popup_teacher_class_with_schoolchildren_for_admin,
#positions_popup_schoolchildren_by_user_guid_for_admin {
    top: 0;
    left: 0;
}

#positions_wrapper_teacher_class_with_schoolchildren_for_admin,
#positions_wrapper_schoolchildren_by_user_guid_for_admin {
    background-color: #e9ecef;
    margin-top: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.close_positions_wrapper_teacher_class_with_schoolchildren_for_admin,
.close_positions_wrapper_schoolchildren_by_user_guid_for_admin {
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    transform: rotate(45deg);
    cursor: pointer;
}

.close_positions_wrapper_teacher_class_with_schoolchildren_for_admin:hover,
.close_positions_wrapper_schoolchildren_by_user_guid_for_admin:hover {
    color: #FF7272;
    scale: 1.15;
}

.form_container_for_admin {
    margin-top: 4%;
    width: 96%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.teacher_class_with_schoolchildren_for_admin_list,
.schoolchildren_by_user_guid_for_admin_list {
    width: 95%;
    margin: 1.5% 0 2.5% 0;
}

.teacher_class_with_schoolchildren_for_admin_about,
.schoolchildren_by_user_guid_for_admin_about {
    margin-bottom: 1.25rem;
    padding: 1rem;
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.teacher_class_with_schoolchildren_for_admin_name_class {
    font-weight: 500;
    font-size: 1.75rem;
    margin: 1% 0 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5%;
}

.schoolchildren_for_admin_about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.9rem;
    padding: 0.8rem;
    border-radius: 1rem;
    background: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    gap: 1%;
}

.schoolchildren_for_admin_user_fio,
.schoolchildren_div_for_admin_estimation,
.schoolchildren_for_admin_datetime_estimation_update,
.btn_for_admin_detail_about_to_schoolchildren,
.btn_for_admin_del_schoolchildren
{
    flex: 1;
    text-align: center;
}

.schoolchildren_for_admin_user_fio {
    font-size: 1rem;
    font-weight: 700;
}

.schoolchildren_div_for_admin_estimation {
    font-size: 1rem;
}

.schoolchildren_for_admin_datetime_estimation_update {
    font-size: 1rem;
}

.btn_for_admin_detail_about_to_schoolchildren {
    background-color: rgba(226, 173, 36, 0.25);
    color: #E2AD24;
    border: none;
    border-radius: 15px;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 700;
}

.btn_for_admin_detail_about_to_schoolchildren:hover {
    background-color: rgba(226, 173, 36, 0.35);
    scale: 1.03;
}

.btn_for_admin_del_schoolchildren {
    background-color: rgba(255, 114, 114, 0.25);
    color: #FF7272;
    border: none;
    border-radius: 15px;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 700;
}

.btn_for_admin_del_schoolchildren:hover {
    background-color: rgba(255, 114, 114, 0.35);
    scale: 1.03;
}

.btn_for_admin_add_user {
    padding: 2%;
    background-color: rgba(70, 199, 63, 0.25);
    font-weight: 600;
    color: #46C73F;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background 0.25s;
}

.btn_for_admin_add_user:hover {
    background-color: rgba(70, 199, 63, 0.35);
    scale: 1.03;
}

.btn_for_admin_del_teacher{
    padding: 2%;
    background-color: rgba(255, 114, 114, 0.25);
    font-weight: 600;
    color: #FF7272;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background 0.25s;
}

.btn_for_admin_del_teacher:hover {
    background-color: rgba(255, 114, 114, 0.35);
    scale: 1.03;
}

.none_data {
    text-align: center;
    margin: 6% 0 3% 0;
    font-size: 1.55vw;
    font-weight: 700;
}
