body {
    font-family: "Montserrat", sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.alert{
    position: fixed;
    z-index: 100000;
    width: 100vw;
    top: 0;
    height: 100vh;
    backdrop-filter: blur(3px) brightness(0.9);
    --webkit-backdrop-filter: blur(3px) brightness(0.9);
    -webkit-backdrop-filter: blur(3px) brightness(0.9);
    background: rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    padding: 2%;
    width: 30%;
	margin-bottom: 10vh;
}

.hello {
	text-align: center;
    color: black;
	font-weight: 600;
	font-size: 2vw;
	line-height: 2vh;
}

.enter {
	color: #424242;
	font-weight: 600;
	font-size: 1vw;
	text-align: center;
    margin-bottom: 2%;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5%;
}

.tab {
    cursor: pointer;
    padding: 2% 4%;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    margin: 0 1%;
    background-color: white;
}

.tab.active {
    color: white;
    background-color: #46C73F;
}

.tab:hover {
    color: white;
    background-color: #24A51D;
}

.form-container {
    background: white;
    padding: 2%;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.form-container h2 {
    margin-bottom: 1.2rem;
    color: #46C73F;
    text-align: center;
}

.input_label {
    display: block;
    margin-bottom: 0.2%;
    font-weight: bold;
    color: #424242;
}

.birtday{
    margin-bottom: 1%;
    text-align: center;
}

.input_field {
    margin-bottom: 2.5%;
}

.input_field input.login,
.input_field select {
    width: 100%;
    padding: 2.5%;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color 0.3s;
    box-sizing: border-box;
    font-size: 0.85vw;
}

.input_field input:focus,
.input_field select:focus {
    border-color: #46C73F;
    outline: none;
}

.button {
    margin-top: 2.5%;
    padding: 2.5%;
    background-color: #46C73F;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    transition: background 0.25s;
}

.button:hover {
    background-color: #24A51D;
}

.toggle-link {
    cursor: pointer;
    color: #46C73F;
    text-decoration: underline;
    display: block;
    text-align: center;
}

.toggle-link:hover {
    color: #24A51D;
}