body{
    font-family: "Montserrat", sans-serif;
    background-color: #e9ecef;
}

.hiden {
    display: none;
}

header{
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5vh;
    margin: 2vh 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8vh;
}

.alert{
    position: fixed;
    z-index: 100000;
    width: 100vw;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    padding: 2%;
    width: 30%;
	margin-bottom: 10vh;
}

.hello {
	text-align: center;
    color: black;
	font-weight: 600;
	font-size: 2vw;
	line-height: 2vh;
}

.enter {
	color: #424242;
	font-weight: 600;
	font-size: 1vw;
	text-align: center;
    margin-bottom: 2%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 300000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.header__but__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5vh 3vh;
}

.btn_header{
    border: none;
    background: none;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.25s;
}

.btn_header:hover{
    color: #ec2f33;
}

.btn_active{
    font-size: 1.3rem!important;
    font-weight: 700!important;
}

.header__info{
    display: flex;
    align-items: center;
}

.name_user {
    font-size: 1.25rem;
    color: black;
}

.logo_exit{
    margin-left: 1vw;
    cursor: pointer;
}

.main__wrapper__schoolchildren_classes_list {
    width: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3.5vh;
    margin: 4vh 5%;
}

.schoolchildren_classes_list{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5vh;
    width: 100%;
    flex-wrap: wrap;
}

.schoolboy_classes {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    padding: 1% 0 0 0;
}

.main__wrapper__recommendations_list {
    width: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3.5vh;
    margin: 4vh 5%;
}

.recommendations_list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5vh;
}

.schoolboy_recommendations {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    padding: 1% 0 0 0;
}

.testing__wrapper {
    display: none;
    align-items: center;
    justify-content: center;
}

.main__wrapper__testing__list {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3.5vh;
    margin: 2vh 5%;
}

.entrance_testing {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    padding: 1.5% 0 0 0;
}

.testing__list{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5vh;
    width: 100%;
    flex-wrap: wrap;
}

.question_item {
    width: 92%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3vh;
    padding: 1.5%;
}

.name_question {
    font-size: 1.1vw;
    margin: 1.5% 0;
    font-weight: bold;
}

.scores {
    display: flex;
    gap: 1.5%;
    margin: 0 0 1.5% 0;
    font-size: 0.95vw;
    align-items: center;
}

.score {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.selected {
    background-color: rgba(70, 199, 63, 0.25);
    border: 1px solid #46C73F;
    color: #46C73F;
    font-weight: bold;
}

.comment_textarea {
    width: 100%;
    padding: 1.5%;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color 0.3s;
    box-sizing: border-box;
    font-size: 0.95vw;
    font-family: "Montserrat", sans-serif;
    resize: none;
    height: 8rem;
}

.comment_textarea:focus {
    border-color: #46C73F;
    outline: none;
}

.profile__settings__wrapper {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin: 4vh 0;
}

.form-container {
    background: white;
    padding: 1%;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 35%;
}

.form-container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin: 0 0 1.5% 0;
}

.input_label {
    display: block;
    margin-bottom: 0.2%;
    font-weight: bold;
    color: #424242;
}

.birtday{
    margin-bottom: 1%;
    text-align: center;
}

.input_field {
    margin-bottom: 2.5%;
}

.input_field input.login,
.input_field select,
.input_field textarea.login {
    width: 100%;
    padding: 2%;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color 0.3s;
    box-sizing: border-box;
    font-size: 0.85vw;
    font-family: "Montserrat", sans-serif;
}

.input_field input:focus,
.input_field select:focus,
.input_field textarea:focus {
    border-color: #46C73F;
    outline: none;
}

.circle_upload {
    position: relative;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.12);
}

.wrappers__container__achievement__icon {
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    object-fit: contain;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.circle_upload:hover,
.wrappers__container__achievement__icon:hover {
    scale: 1.03;
}

.upload_label {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#preview {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 0 !important;
}

.button {
    padding: 2.5%;
    background-color: rgba(70, 199, 63, 0.25);
    font-weight: 600;
    color: #46C73F;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    transition: background 0.25s;
}

.button:hover {
    background-color: rgba(70, 199, 63, 0.35);
    scale: 1.01;
}


.recommendation_about {
    display: flex;
    flex-direction: column;
    padding: 0.5%;
    width: 45%;
    border-radius: 0.8rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.recommendation_datetime_create{
    display: flex;
    justify-content: flex-end;
    font-size: 0.7vw;
    color: #424242;
    gap: 0.25%;
}

.recommendation_description {
    font-size: 0.85vw;
    color: #424242;
    margin-top: 1%;
    text-align: justify;
    width: 100%;
}

.schoolchildren_class {
    margin: 0.25% 0;
    background: #fff;
    border-radius: 0.8rem;
    padding: 1.5%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.schoolchildren_class_about {
    display: flex;
    flex-direction: row;
}

.schoolchildren_class_name_class {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-right: 2.5vh;
    font-size: 1vw;
}

.schoolchildren_class_estimation {
    display: flex;
    flex-direction: row;
    gap: 2%;
    font-size: 1vw;
}

.achievement_about {
    margin: 1.5vh 0;
    background: #fff;
    border-radius: 0.8rem;
    padding: 1.5%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.achievement_datetime_create {
    display: flex;
    justify-content: flex-end;
    font-size: 0.7vw;
    color: #424242;
    gap: 0.25%;
}

.content_achievement {
    margin: 1% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.achievement_description {
    font-size: 0.85vw;
    color: #424242;
    margin-top: 1%;
    text-align: justify;
    width: 100%;
    margin-right: 1%;
}

.none_data {
    text-align: center;
    margin: 6% 0 3% 0;
    font-size: 1.55vw;
    font-weight: 700;
}