body{
    font-family: "Montserrat", sans-serif;
    background-color: #e9ecef;
}

.hiden {
    display: none;
}

header{
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5vh;
    margin: 2vh 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8vh;
}

.alert{
    position: fixed;
    z-index: 100000;
    width: 100vw;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    padding: 2%;
    width: 30%;
	margin-bottom: 10vh;
}

.hello {
	text-align: center;
    color: black;
	font-weight: 600;
	font-size: 2vw;
	line-height: 2vh;
}

.enter {
	color: #424242;
	font-weight: 600;
	font-size: 1vw;
	text-align: center;
    margin-bottom: 2%;
}

.header__but__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5vh 3vh;
}

.btn_header{
    border: none;
    background: none;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.25s;
}

.btn_header:hover{
    color: #ec2f33;
}

.btn_active{
    font-size: 1.3rem!important;
    font-weight: 700!important;
}

.header__info{
    display: flex;
    align-items: center;
}

.name_user {
    font-size: 1.25rem;
    color: black;
}

.logo_exit{
    margin-left: 1vw;
    cursor: pointer;
}

.profile__settings__wrapper {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin: 4vh 0;
}

.form-container {
    background: white;
    padding: 1%;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 35%;
}

.form-container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin: 0 0 1.5% 0;
}

.input_label {
    display: block;
    margin-bottom: 0.2%;
    font-weight: bold;
    color: #424242;
}

.birtday{
    margin-bottom: 1%;
    text-align: center;
}

.input_field {
    margin-bottom: 2.5%;
}

.input_field input.login,
.input_field select,
.input_field textarea.login {
    width: 100%;
    padding: 2%;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color 0.3s;
    box-sizing: border-box;
    font-size: 0.85vw;
    font-family: "Montserrat", sans-serif;
}

.input_field input:focus,
.input_field select:focus,
.input_field textarea:focus {
    border-color: #46C73F;
    outline: none;
}

.button {
    padding: 2.5%;
    background-color: rgba(70, 199, 63, 0.25);
    font-weight: 600;
    color: #46C73F;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    transition: background 0.25s;
}

.button:hover {
    background-color: rgba(70, 199, 63, 0.35);
    scale: 1.03;
}

.main__wrapper__teacher_classes_list {
    width: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3.5vh;
    margin: 4vh 5%;
}

.teacher_classes {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    padding: 1% 0 0 0;
}

.teacher_classes_list{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5vh;
    width: 100%;
    flex-wrap: wrap;
}

.teacher_class {
    margin: 0.25% 0;
    background: #fff;
    border-radius: 0.8rem;
    padding: 1.5%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.teacher_class:hover {
    background-color: rgba(70, 199, 63, 0.25);
    cursor: pointer;
    scale: 1.03;
}

.teacher_class_about {
    display: flex;
    flex-direction: row;
}

.teacher_class_name_class {
    display: flex;
    flex-direction: row;
    gap: 2%;
    font-size: 1vw;
}

#positions_popup_teacher_class_with_schoolchildren {
    top: 0;
    left: 0;
}

#positions_wrapper_teacher_class_with_schoolchildren {
    background-color: #e9ecef;
    margin-top: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.close_positions_wrapper_teacher_class_with_schoolchildren {
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    transform: rotate(45deg);
    cursor: pointer;
}

.close_positions_wrapper_teacher_class_with_schoolchildren:hover {
    scale: 1.15;
}

.teacher_class_with_schoolchildren_list {
    width: 95%;
    margin-top: 4%;
}

.teacher_class_with_schoolchildren_about {
    margin-bottom: 1.25rem;
    padding: 1rem;
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.teacher_class_with_schoolchildren_name_class {
    font-weight: 500;
    font-size: 1.75rem;
    margin: 1% 0 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5%;
}

.schoolchildren_about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.9rem;
    padding: 0.8rem;
    border-radius: 1rem;
    background: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    gap: 1%;
}

.schoolchildren_user_fio,
.schoolchildren_label_estimation,
.schoolchildren_datetime_estimation_update,
.btn_detail_about_to_schoolchildren,
.btn_update_estimation_to_schoolchildren
{
    flex: 1;
    text-align: center;
}

.schoolchildren_user_fio {
    font-size: 1rem;
    font-weight: 700;
}

.schoolchildren_label_estimation {
    font-size: 1rem;
}

.schoolchildren_input_estimation {
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    width: 4%;
}

.schoolchildren_input_estimation:focus {
    border-color: #46C73F;
    outline: none;
}

.schoolchildren_datetime_estimation_update {
    font-size: 1rem;
}

.btn_detail_about_to_schoolchildren {
    background-color: rgba(226, 173, 36, 0.25);
    color: #E2AD24;
    border: none;
    border-radius: 15px;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 700;
}

.btn_detail_about_to_schoolchildren:hover {
    background-color: rgba(226, 173, 36, 0.35);
    scale: 1.03;
}

.btn_update_estimation_to_schoolchildren {
    background-color: rgba(70, 199, 63, 0.25);
    color: #46C73F;
    border: none;
    border-radius: 15px;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 700;
}

.btn_update_estimation_to_schoolchildren:hover {
    background-color: rgba(70, 199, 63, 0.35);
    scale: 1.03;
}

.none_data {
    text-align: center;
    margin: 6% 0 3% 0;
    font-size: 1.55vw;
    font-weight: 700;
}