<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
        <title>Админ панель</title>
    </head>
    <body style="min-height: auto">

        <div class="alert" id="alert" style="display: none;" onclick="this.style.display = 'none';">
            <div class="notice" id="notice">
                <p class="hello" style="text-align: center; color: black;" id="notice_title">Ошибка</p>
                <p class="enter" id="notice_text"></p>
            </div>
        </div>

        <div class="alert" id="positions_popup_teacher_class_with_schoolchildren_for_admin" style="display: none; z-index: 10000;">
            <div class="close_positions_wrapper_teacher_class_with_schoolchildren_for_admin" id="close_positions_wrapper_teacher_class_with_schoolchildren_for_admin">+</div>
            <div class="notice" id="positions_wrapper_teacher_class_with_schoolchildren_for_admin" style="overflow-y: auto;">
                <div class="form_container_for_admin">
                    <div class="form-container">
                        <div id="schoolchildrenAddForm">
                            <h2 style="font-size: 1.2rem;">Добавить школьника в класс</h2>
                            <div class="input_field">
                                <label class="input_label" for="schoolchildren_add">Школьник</label>
                                <select id="schoolchildren_add" required>
                                    <option value="" disabled selected>Выберите из списка школьника</option>
                                </select>
                            </div>
                            <button class="btn_for_admin_add_user" onclick="">Добавить школьника</button>
                        </div>
                    </div>
                    <div class="form-container">
                        <div id="teacherAddForm">
                            <h2 style="font-size: 1.2rem;">Назначение класса преподавателю</h2>
                            <div class="input_field">
                                <label class="input_label" for="teacher_add">Преподаватель</label>
                                <select id="teacher_add" required>
                                    <option value="" disabled selected>Выберите из списка преподавателя</option>
                                </select>
                            </div>
                            <button class="btn_for_admin_add_user" onclick="">Назначить преподавателя</button>
                        </div>
                    </div>
                    <div class="form-container">
                        <div id="teacherDelForm">
                            <h2 style="font-size: 1.2rem;">Удалить преподавателя с класса</h2>
                            <div class="input_field">
                                <label class="input_label" for="teacher_del">Преподаватель</label>
                                <select id="teacher_del" required>
                                    <option value="" disabled selected>Выберите из списка преподавателя</option>
                                </select>
                            </div>
                            <button class="btn_for_admin_del_teacher" onclick="">Удалить преподавателя</button>
                        </div>
                    </div>
                </div>
                <div class="teacher_class_with_schoolchildren_for_admin_list" id="teacher_class_with_schoolchildren_for_admin_list"></div>
            </div>
        </div>

        <header>
            <div class="header__but__wrapper">
                <button class="btn_header btn_active" id="main">Главная</button>
            </div>
        </header>

        <!--Раздел "Главная"-->
        <div class="main__wrapper" id="main__wrapper">
            <div class="form-container">
                <div id="classForm">
                    <h2>Создать учебный класс</h2>
                    <div class="input_field">
                        <label class="input_label" for="name_class">Наименование учебного класса</label>
                        <input class="login" type="text" id="name_class" placeholder="Введите наименование учебного класса" required>
                    </div>
                    <button class="button" onclick="add_class();">Создать учебный класс</button>
                </div>
            </div>
            <div class="main__wrapper_classes_list" id="main__wrapper_classes_list">
                <div class="classes">Классы</div>
                <div id="classes_list" class="classes_list"></div>
            </div>
        </div>

        <script src="../static/js/main.js"></script>
        <script src="../static/js/admin.js"></script>
        <script>
            get_classes();
        </script>
    </body>
</html>