<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/schoolchildren.css">
        <title>Личный кабинет школьника</title>
    </head>
    <body style="min-height: auto">

        <div class="alert" id="alert" style="display: none;" onclick="this.style.display = 'none';">
            <div class="notice" id="notice">
                <p class="hello" style="text-align: center; color: black;" id="notice_title">Ошибка</p>
                <p class="enter" id="notice_text"></p>
            </div>
        </div>

        <header>
            <div class="header__but__wrapper">
                <div>
                    <button class="btn_header btn_active" id="main">Главная</button>
                    <button class="btn_header" id="testing">Тестирование</button>
                    <button class="btn_header" id="profile_settings">Настройки профиля</button>
                </div>
                <div class="header__info">
                    <div class="name_user" id="name_user">Иванов Иван Иванович</div>
                    <img class="logo_exit" src="../static/img/logo_exit_black.svg" id="logoExit" onclick="logout()">
                </div>
            </div>
        </header>

        <!--Раздел "Главная"-->
        <div class="main__wrapper" id="main__wrapper">
            <div class="main__wrapper__schoolchildren_classes_list" id="main__wrapper__schoolchildren_classes_list">
                <div class="schoolboy_classes">Учебные классы школьника</div>
                <div id="schoolchildren_classes_list" class="schoolchildren_classes_list"></div>
            </div>
            <div class="main__wrapper__recommendations_list" id="main__wrapper__recommendations_list">
                <div class="schoolboy_recommendations">Рекомендации школьника</div>
                <div id="recommendations_list" class="recommendations_list"></div>
            </div>
        </div>

        <!--Раздел "Тестирование"-->
        <div class="testing__wrapper hiden" id="testing__wrapper" style="margin-left: 2%;">
            <div class="main__wrapper__testing__list" id="main__wrapper__testing__list">
                <div class="entrance_testing">Входное тестирование</div>
                <div class="testing__list" id="testing__list"></div>
                <button class="button" onclick="add_test_to_schoolchildren();" style="width: 95.5%; margin: 0.5% 0 1% 0; padding: 1.5%; border-radius: 1.2rem; font-size: 1.3rem;" >Отправить данные теста</button>
            </div>
        </div>

        <!--Раздел "Настройки профиля"-->
        <div class="profile__settings__wrapper hiden" id="profile__settings__wrapper" style="margin-left: 2%;">
            <div class="form-container">
                <div id="personalInfoForm">
                    <h2>Личные данные</h2>
                    <div class="input_field">
                        <label class="input_label" for="phoneNumber">Номер телефона</label>
                        <input class="login tel" type="tel" id="phoneNumber" placeholder="+7 (955) 555 3535" required>
                    </div>
                    <div class="input_field">
                        <label class="input_label" for="fio">ФИО</label>
                        <input class="login" type="text" id="fio" placeholder="Введите ФИО" required>
                    </div>
                    <div class="input_field">
                        <label class="input_label birtday">Дата рождения</label>
                        <div style="display: flex; justify-content: space-between;">
                            <div style="width: 30%;">
                                <label class="input_label" for="day">День</label>
                                <select class="login" name="day" id="day" style="text-align: center;" required>
                                    <option value="01" selected>01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div style="width: 30%;">
                                <label class="input_label" for="month">Месяц</label>
                                <select class="login" name="month" id="month" style="text-align: center;" required>
                                    <option value="01" selected>01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <div style="width: 30%;">
                                <label class="input_label" for="year">Год</label>
                                <select class="login" name="year" id="year" style="text-align: center;" required></select>
                            </div>
                        </div>
                    </div>
                    <div class="input_field">
                        <label class="input_label" for="gender">Пол</label>
                        <select id="gender" required>
                            <option value="" disabled selected>Выберите из списка пол</option>
                            <option value="Мужской">Мужской</option>
                            <option value="Женский">Женский</option>
                        </select>
                    </div>
                    <button class="button" onclick="update_user()">Отредактировать</button>
                </div>
            </div>
            <div class="form-container" style="padding: 1% 1% 0.25% 1%;">
                <div id="personalAchievementsForm">
                    <h2>Личные достижения</h2>
                    <div class="input_field">
                        <label class="input_label" for="achievement">Наименование достижения</label>
                        <textarea class="login" style="resize: none; padding: 3% 2.5%; height: 8rem" id="achievement" placeholder="Введите свое личное достижение" required></textarea>
                    </div>
                    <button class="button" onclick="create_achievement()">Добавить достижение</button>
                    <div id="achievements_list" class="achievements_list"></div>
                </div>
            </div>
        </div>

        <script src="../static/js/main.js"></script>
        <script src="../static/js/schoolchildren.js"></script>
        <script>
            const select = document.getElementById('year');
            const defaultYear = 2003;
            for(let year = 1944; year <= 2025; year++) {
                const option = document.createElement('option');
                option.value = year;
                option.textContent = year;
                if(year === defaultYear) {
                    option.selected = true;
                }
                select.appendChild(option);
            }
            get_schoolchildren_classes();
            get_recommendations();
        </script>

    </body>
</html>