<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/teachers.css">
        <title>Личный кабинет преподавателя</title>
    </head>
    <body style="min-height: auto">

        <div class="alert" id="alert" style="display: none;" onclick="this.style.display = 'none';">
            <div class="notice" id="notice">
                <p class="hello" style="text-align: center; color: black;" id="notice_title">Ошибка</p>
                <p class="enter" id="notice_text"></p>
            </div>
        </div>

        <header>
            <div class="header__but__wrapper">
                <div>
                    <button class="btn_header btn_active" id="main">Главная</button>
                    <button class="btn_header" id="profile_settings">Настройки профиля</button>
                </div>
                <div class="header__info">
                    <div class="name_user" id="name_user">Иванов Иван Иванович</div>
                    <img class="logo_exit" src="../static/img/logo_exit_black.svg" id="logoExit" onclick="logout()">
                </div>
            </div>
        </header>

        <!--Раздел "Главная"-->
        <div class="main__wrapper hiden" id="main__wrapper">
            <div class="main__wrapper__list" id="main__wrapper__list"></div>
        </div>

        <!--Раздел "Настройки профиля"-->
        <div class="profile__settings__wrapper hiden" id="profile__settings__wrapper">
            <div class="profile__settings__wrapper__list" id="profile__settings__wrapper__list"></div>
        </div>

        <script src="../static/js/main.js"></script>
        <script src="../static/js/teachers.js"></script>

    </body>
</html>