<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/teachers.css">
        <title>Личный кабинет преподавателя</title>
    </head>
    <body style="min-height: auto">

        <div class="alert" id="alert" style="display: none;" onclick="this.style.display = 'none';">
            <div class="notice" id="notice">
                <p class="hello" style="text-align: center; color: black;" id="notice_title">Ошибка</p>
                <p class="enter" id="notice_text"></p>
            </div>
        </div>

        <div class="alert" id="positions_popup_teacher_class_with_schoolchildren" style="display: none; z-index: 10000;">
            <div class="close_positions_wrapper_teacher_class_with_schoolchildren" id="close_positions_wrapper_teacher_class_with_schoolchildren">+</div>
            <div class="notice" id="positions_wrapper_teacher_class_with_schoolchildren">
                <div class="teacher_class_with_schoolchildren_list" id="teacher_class_with_schoolchildren_list"></div>
            </div>
        </div>

        <header>
            <div class="header__but__wrapper">
                <div>
                    <button class="btn_header btn_active" id="main">Главная</button>
                    <button class="btn_header" id="profile_settings">Настройки профиля</button>
                </div>
                <div class="header__info">
                    <div class="name_user" id="name_user">Иванов Иван Иванович</div>
                    <img class="logo_exit" src="../static/img/logo_exit_black.svg" id="logoExit" onclick="logout()">
                </div>
            </div>
        </header>

        <!--Раздел "Главная"-->
        <div class="main__wrapper" id="main__wrapper">
            <div class="main__wrapper__teacher_classes_list" id="main__wrapper__teacher_classes_list">
                <div class="teacher_classes">Классы преподавателя</div>
                <div id="teacher_classes_list" class="teacher_classes_list"></div>
            </div>
        </div>

        <!--Раздел "Настройки профиля"-->
        <div class="profile__settings__wrapper hiden" id="profile__settings__wrapper">
            <div class="form-container">
                <div id="personalInfoForm">
                    <h2>Личные данные</h2>
                    <div class="input_field">
                        <label class="input_label" for="phoneNumber">Номер телефона</label>
                        <input class="login tel" type="tel" id="phoneNumber" placeholder="+7 (955) 555 3535" required>
                    </div>
                    <div class="input_field">
                        <label class="input_label" for="fio">ФИО</label>
                        <input class="login" type="text" id="fio" placeholder="Введите ФИО" required>
                    </div>
                    <div class="input_field">
                        <label class="input_label birtday">Дата рождения</label>
                        <div style="display: flex; justify-content: space-between;">
                            <div style="width: 30%;">
                                <label class="input_label" for="day">День</label>
                                <select class="login" name="day" id="day" style="text-align: center;" required>
                                    <option value="01" selected>01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div style="width: 30%;">
                                <label class="input_label" for="month">Месяц</label>
                                <select class="login" name="month" id="month" style="text-align: center;" required>
                                    <option value="01" selected>01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <div style="width: 30%;">
                                <label class="input_label" for="year">Год</label>
                                <select class="login" name="year" id="year" style="text-align: center;" required>
                                    <option value="2001">2001</option>
                                    <option value="2002">2002</option>
                                    <option value="2003">2003</option>
                                    <option value="2004">2004</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="input_field">
                        <label class="input_label" for="gender">Пол</label>
                        <select id="gender" required>
                            <option value="" disabled selected>Выберите из списка пол</option>
                            <option value="Мужской">Мужской</option>
                            <option value="Женский">Женский</option>
                        </select>
                    </div>
                    <button class="button" onclick="update_user()">Отредактировать</button>
                </div>
            </div>
        </div>

        <script src="../static/js/main.js"></script>
        <script src="../static/js/teachers.js"></script>
        <script>
            get_teacher_classes();
        </script>

    </body>
</html>